<header>
  <a href="/">
    <div class="logo">
      <div class="logo-container">
        <h1 class="logo-h1">Highland Portraits</h1>
      </div>
    </div>
  </a>
    <ul class='nav'>
      <li class="services">SERVICES</li>
      <li class="info">INFO</li>
      <li class="contact">CONTACT</li>
    </ul>
    
    <div class="nav-2">
      <a class="book-now hvr-push" href="#">
        <p>BOOK NOW</p>
      </a>
          <div class="external-links">
        <a href="#" class="facebook-icon">
          <span class="external-link first fa fa-facebook-official"></span>
        </a>
        <a href="#" class="facebook-icon">
          <span class="external-link fa fa-instagram"></span>
        </a>
        <a href="#" class="mail-icon">
          <span class="external-link fa fa-envelope"></span>
        </a>
      </div>
    </div>
      
      
    </div>
    
    <p class="serving">Serving the East Bay since 2015</p>
  
</header>