/* LAYOUT-------------- */

body {
  position: relative;
  height: 100vh;
  max-width: 1500px;
  margin: 0 auto;
}

/*BANNER -------------*/

#banner {
  position: fixed;
  width: 100%;
  background: #FEE161;
  left: 0;
  right: 0;
  top: -51px;
  transition: all 0.2s;
}

.banner-content {
  display: inline-block;
  padding: 13px;
  color: white;
  transition: all 0.2s;
}

.banner-close {
  float: right;
  padding: 13px 15px 13px 0px;
  color: white;
  margin-top: 4px;
  cursor: pointer;
  transition: all 0.2s;
}

.sign-up-here {
  transition: all 0.2s;
  cursor: pointer;
}
.sign-up-here:hover {
  color: #0d6d18;
}


/*HEADER---------------*/

header {
  height: 400px;
  position: fixed;
  bottom: 53%;
  left: 50px;
  transform: translateY(45%);
  transition: all 0.2s;
}

.logo {
  background-color: #FEE161;
  width: 250px;
  height: 250px;
  position: relative;
  cursor: pointer;
}

.logo-container {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 113px;
  width: 180px;
}

.logo-h1 {
  margin-right: 15px;
  color: #fff;
  text-align: right;
  font-family: avenir, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 42px;
}

.nav {
  margin-top: 15px;
  margin-bottom: 40px;
  margin-left: 4px;
}

.nav li {
  display: inline-block;
  text-align: center;
  padding-right: 40px;
  color: #303030;
  font-family: avenir;
  font-size: 12px;
  letter-spacing: 0.7px;
  cursor: pointer;
}

.nav li:hover {
  color: #8c8c8c;
}

.nav li:last-child {
  padding-right: 0px;
}

.nav li.active {
  color: #8c8c8c;
}


#book-now {
  display: inline-block;
  background-color: #FEE161;
  transition: all 0.8s;
  border-radius: 2px;
  cursor: pointer;
}

#book-now:hover {
  background-color: #0c7c4a;
}

#book-now.active {
  background-color: #0c7c4a;
}

@-webkit-keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes hvr-push {
  50% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.hvr-push {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-push:hover, .hvr-push:focus, .hvr-push:active {
  -webkit-animation-name: hvr-push;
  animation-name: hvr-push;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

#book-now p {
  font-size: 9px;
  padding: 9px 22px;
  font-family: avenir, "Lato";
  color: white;
}

.external-links {
  display: inline;
  vertical-align: -2px;
}

.external-links a span {
  color: #383838;
  transition: all 0.1s;
  -webkit-transition: all .1s;
}

.external-link.first {
  padding-left: 23px;
}

.external-link {
  padding-left: 15px;
}

.external-link.fa-facebook-official:hover {
  color: #2359c4;
}

.external-link.fa-instagram:hover {
  color: green;
}

.external-link.fa-envelope:hover {
  color: #960909;
}

.serving {
  margin-top: 20px;
  margin-left: 2px;
  font-family: 'Cedarville Cursive', cursive;
  font-size: 13px;
  transform: rotate(-1.5deg);
  letter-spacing: 0.7px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
/*MAIN------------------*/

main {
  position: absolute;
  top: 80px;
  border-top: 10px solid white;
  border-right: 10px solid white;
  box-sizing: border-box;
  right: 0px;
  left: 380px;
  transition: all 0.2s;
}


/*SERVICES------------*/

.dotted {
  border-bottom: 1px dotted #3e2f2f;
}

.services-page {
  margin-top: 50px;
  animation: fadein 0.5s;
  max-width: 650px;
}

.services-page h4 {
  font-size: 26px;
  letter-spacing: 1.1px;
  margin-bottom: 14px;
}

.services-page p {
  padding: 10px 0;
}

.h-bar-no-padding {
  padding: 17px 0px;
}

.services-page h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 12px;
}

.services-page h5 {
  padding-top: 17px;
}

.services-page h5 strong {
  color: black;
}

.services-page .small-gray {
  font-size: 11px;
  padding-top: 3px
}

.minor-details {
  padding-top: 24px;
}

.minor-details h4 {
  font-size: 19px;
  text-align: center;
}

.minor-details .small-gray {
  line-height: 19px;
}

.location, #map {
  width: 100%;
  height: 300px;
  border: none;
}

.testimonial {
  padding: 10px 0;
  margin-bottom: 40px;
  position: relative;
  display: flex;
  align-items: center;
}

.testimonial p {
  padding: 0;
  display: block;
  flex: 1 0 0;
}

.h3-test {
  margin-bottom: 30px;
}

.picture-border {
  background-color: #F2F2F2;
  box-shadow: 0 0 0 2px lightgray;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  margin-right: 20px;
  width: 125px;
  height: 125px;
  float: left;

}

.testimonials strong {
  color: #282828;
}

.testimonials img {
  float: left;
  width: 125px;
}

.testimonial:nth-of-type(2n) .picture-border {
  float: right;
}


/*INFO----------------*/

.info-page {
  background: red;
  margin-top: 50px;
  animation: fadein 0.5s;
}



/*CONTACT*/

.contact-page {
  margin-top: 50px;
  margin-right: 20px;
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.h-bar, .c-matt {
  padding: 17px;
}

.h-bar hr,
.h-bar-no-padding hr {
  border: none;
  color: #bbb;
  background-color: #bbb;
  height: 1px;
}

.c-me {
  text-align: center;
  font-size: 16px;
}

.c-info {
  margin-right: 17px;
  padding-top: 17px;
  font-size: 14px;
}

.spacer {
  padding-bottom: 12px;
}

.c-info-left {
  float: left;
  width: 100%;
  padding-left: 17px;
  padding-right: 0px;
  box-sizing: border-box;
}

.c-info-picture {
  float: right;
  width: 58.3333%;
}

.email {
}

#self-portrait {
  width: 100%;
  padding-left: 27px;
  box-sizing: border-box;
}

#wufoo-ze82gxh0y1akbl {
  padding: 0 17px;
}

.website-by {
  text-align: center;
}

/*BOOK NOW-----------------------------*/

.book-now-overlay {
  position: fixed;
  z-index: 8;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.book-now-page {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  max-width: 750px;
  margin: 0 auto;
  animation: fadein .5s;
}

#ycbmiframehighlandportraits {
  width:100%;
  height:1000px;
  border:0px;
  background-color:transparent;
}

#ycbmiframehighlandportraits {
  height: 100% !important;
}


@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


/*SPINNER*/
.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #333;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
  animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
  25% { -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes sk-cubemove {
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
  } 50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
  } 50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
  } 75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
  } 100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
