/*GALLERY MODAL*/

.frame {
  animation: fadein;
  animation-duration: 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: hsla(0, 0%, 100%, .6);
  cursor: pointer;
  display: block;
  transition: 5.2s all;
}

.frame {
  position: fixed;
  top: 0px;
  height: calc(100% - 4em);
  --height: calc(100vh - 140px);
  width: calc(var(--height) * 0.8);
  z-index: 999;
  background-color: white;
  padding: 40px 40px 0px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-top: 5px;
}

#frame {
  transition: opacity 0.2s;
}

.loader {
  position: relative;
  overflow: hidden;
  width: auto;
  margin: 0;
  padding: 0;
  height: calc(100vh - 130px);
}
.object {
  position: relative;
  float: left;
  display: block;
}

.object::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 1e3px;
  height: 1e3px;
  content: '';
  background: #efefef;
}
.image {
  height: calc(100vh - 130px);
}
.frozen {
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
  transform: scale(1.06);
  transition: opacity 0.4s;
  transition-delay: 0.6;
  /*animation: .2s ease-in 1.2s 1 forwards fade;*/
  height: calc(100vh - 140px);
  left: 0px;
  position: absolute;
}

@keyframes fade {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

.width {
  height: 0px;
}

.left {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100px;
  cursor: url('http://res.cloudinary.com/mwong9968/image/upload/v1508050988/left-arrow_oenk4c.png') 20 12, pointer;
}


.right {
  position: absolute;
  top: 0px;
  left: 100px;
  width: calc(100% - 100px);
  height: 100%;
  cursor: url('http://res.cloudinary.com/mwong9968/image/upload/v1508050992/right-arrow_s0may7.png') 20 12, pointer;
}

figcaption {
  text-align: center;
  font-family: "Lato";
  letter-spacing: 0.15px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

figure {
  margin: 0;
}

/* @media screen and (max-width: 800px) {
  .object {
    height: calc(100vh - 240px)
  }
  .frozen {
    height: calc(100vh - 240px)
  }
  .frame {
    height: calc(100% - 160px);
    --height: calc(100vh - 240px);
    width: calc(var(--height) * 0.8);
  }
  .loader {
    height: calc(100vh - 240px);
  }
} */

/* @media screen and (max-width: 700px) {
  .object {
    height: calc(100vh - 290px)
  }
  .frozen {
    height: calc(100vh - 290px)
  }
  .frame {
    height: calc(100% - 200px);
    --height: calc(100vh - 290px);
    width: calc(var(--height) * 0.8);
  }
  .loader {
    height: calc(100vh - 290px);
  }
} */

@media screen and (max-width: 600px) {
  .frame {
    height: auto;
    margin: 0px;
    padding: 10px 10px 20px;
  }
  figure {
    padding: 0 10px;
  }
  .object{
    height: auto;
    width: 100%;
    width: calc(100vw - 20px);
  }
  .frozen {
    height: auto;
    width: 100%;
    width: calc(100vw - 20px);
  }
  .frame {
    width: auto;
  }

  .loader {
    height: auto;
  }
}
